
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/partials.cshtml";
}

<section style="min-height: 82vh;">
    <div class="container text text-center">
        <h3>SIENA</h3>
        <p>Este es una sistema para los egresados y aprendices del SENA</p>
    </div>
</section>

